# Version control
.git
.gitignore

# Dependencies
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log

# Environment variables
.env
.env.*

# Development files
.vscode
.idea
*.md
docs

# Build output
dist

# Test files
tests
coverage

# OS files
.DS_Store
Thumbs.db
